<app-nav-bar>
    <ng-container>
        <h2>Helpr</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae harum doloremque inventore sint quos unde nulla pariatur odit deleniti cumque, expedita doloribus veritatis et vitae at quisquam, ut dolores reiciendis.
        Sit fugiat fuga perspiciatis nostrum hic perferendis corporis architecto, quos explicabo nisi atque reiciendis vel dicta debitis distinctio animi repellendus! Obcaecati sit quia consequuntur sequi architecto harum rem fuga esse.</p>
    </ng-container>
</app-nav-bar>

