section{
    width: 300px;
    height: 450px;
    background-color: white;
    text-align: center;
    margin: 30px;
    padding-top: 5px;
    display: inline-block;
    box-shadow: -1px -1px 10px 8px rgba(205,205,205,0.6);
}

p{
    color: rgb(143, 143, 143);
}
strong{
    color: var(--azulBebe);
    font-size: 25px;
}

.produto-data{
    display: flex;
    flex-direction: column;
}

.produto-data button{
    background-color: var(--azulBebe);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    height: 55px;
    border: none;
    cursor: pointer;
}

.produto-data button:hover{
    background-color: rgb(0, 224, 187);
}

sub{
    color: var(--azulBebe);
    font-size: 25px;
    font-weight: none;
}

figure{
    filter: grayscale(100%);

}

figure:hover{

    transition: 0.8s;
    animation: stars 5s;

    
}


@keyframes stars {

    0%{filter: grayscale(95%); left: 45%;}
    20%{filter: grayscale(70%); left: 45%;}
    50%{filter: grayscale(50%); left: 45%;}
    70%{filter: grayscale(25%); left: 45%;}
    100%{filter: grayscale(0%); left: 100%;}
}
  
