/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-green {
    background-color: rgb(149, 255, 149);
    color: rgb(0, 0, 0);
}

.alert-red {
    background-color: rgb(255, 158, 149);
    color: rgb(0, 0, 0);
}