.container {
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;

}

.cards {
    background-color: rgb(220, 255, 250);
    width: 220px;
    margin: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    margin-left: 0px;
    width: 100%;
}

.card-text {
    text-align: justify;
}

.style-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.style-btn {
    display: flex;
    justify-content: space-between;
}
.btn {
    width: 20px;
}

.card-title {
    font-size: 15px;
    color: rgb(135, 135, 135);
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 50px;
    right: 15px;
    top: 88%;
    border-radius: 50%;
}

.btn-add:active {
    background-color: rgb(173, 255, 255);
}