.container {
    width: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;

}

.cards {
    background-color: aquamarine;
    width: 220px;
    margin: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    margin-left: 0px;
    width: 100%;
}

.card-text {
    text-align: justify;
}

.style-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.style-btn {
    display: flex;
    justify-content: space-between;
}
.btn {
    width: 20px;
}